<section class="excursion">
    <div class="page__cover">
        <div class="blur"></div>
        <div class="img">
            <picture>
                <source type="image/webp" media="(min-width: 1024px)" srcset="
                    ./img/exposition/cover-1920.webp,
                    ./img/exposition/cover-1920@2x.webp 2x,
                    ./img/exposition/cover-1920@3x.webp 3x">
                <source type="image/webp" srcset="
                    ./img/exposition/cover-1023@1x.webp 1x,
                    ./img/exposition/cover-1023@2x.webp 2x,
                    ./img/exposition/cover-1023@3x.webp 3x">
                <source type="image/jpeg" media="(min-width: 1024px)" srcset="
                    ./img/exposition/cover-1920.jpg 1x,
                    ./img/exposition/cover-1920@2x.jpg 2x,
                    ./img/exposition/cover-1920@3x.jpg 3x">
                <source type="image/jpeg" srcset="
                    ./img/exposition/cover-1023@1x.jpg 1x,
                    ./img/exposition/cover-1023@2x.jpg 2x,
                    ./img/exposition/cover-1023@3x.jpg 3x">

                <img src="/./img/exposition/cover.jpg" alt="">
            </picture>
        </div>
    </div>
    <div class="page__head">
        <div class="page__wrap">
            <h1 class="page__head-title"><span>Обзорная экскурсия </span>«Марий Эл. Сохраняя традиции» (6+)</h1>
            <div class="page__head-info">
                <div class="excursion__period">
                    <time class="excursion__start-time" datetime="2022-04-16">1.09.2022</time>
                    <time class="excursion__end-time" datetime="2022-08-01">1.09.2023</time>
                </div>

                <p class="museum-area__title">
                    <a href="#">
                        Национальный музей Республики Марий Эл им. Т. Евсеева
                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </a>
                </p>
                <ul class="museum-area__info-list">
                    <li class="museum-area__info-item museum-area__info-item--time">Сегодня: открыто с 10:00 до 18:00 <a href="#modal1" class="modal-link">Режим работы</a></li>
                    <li class="museum-area__info-item museum-area__info-item--address">г. Йошкар-Ола, ул. Советская, 153</li>
                </ul>
                <div class="museum-area__btn-wrap">
                    <a class="btn btn--main" href="#">Купить билет</a>
                    <a class="btn btn--secondary" href="#">
                        Все экскурсии
                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </a>
                </div>

            </div>
            <ul class="page__link-list">
                <li><a href="#">Обзор</a></li>
                <li><a href="#">Фото</a></li>
            </ul>
        </div>
    </div>
    <div class="page__content">
        <div class="page__wrap">
            <div class="page__text">
                <p>Марийская земля из глубин веков пронесла древнюю веру предков и сохранила ее по сей день.Марийские леса поражают красотой природы, многообразием растительного и животного мира. А каждый район республики обладает своей неповторимой изюминкой — природной или культурной достопримечательностью! Какие обряды, ритуалы, праздники бытовали в марийской деревне конца XIX — начала XX веков? Чем живет Республика Марий Эл сегодня? Чем известен каждый ее район? Обо всем этом можно узнать на обзорной экскурсии.</p>

                <p>Обзорная экскурсия «Марий Эл. Сохраняя традиции» включает посещение двух постоянных экспозиционно-выставочных залов «Обряды жизненного цикла: Традиционная культура народа мари в XIX – ХХ вв.» и «Тот самый музей». </p>

                <p>Расскажем о богатстве и самобытности духовной и материальной культуры народа мари в XIX – ХХ веках и разнообразии животного и растительного мира Республики Марий Эл.</p>

                <p>Экскурсия проводится для групп от 10 человек или в составе сборных групп по отдельному расписанию. </p>
                <p>Обязательна предварительная запись по тел. 8 (8362) 34-75-32.</p>
            </div>
            <div class="page__slider">
                <div class="page__slider-wrap">
                    <div class="excursion__gallery-wrap swiper">
                        <ul class="excursion__gallery-list swiper-wrapper">
                            <li class="swiper-slide">
                                <a href="./img/exposition/photo1.jpg">
                                    <div class="img">
                                        <picture>
                                            <source type="image/webp" srcset="
                    ./img/exposition/photo1-768@1x.webp 1x,
                    ./img/exposition/photo1-768@2x.webp 2x,
                    ./img/exposition/photo1-768@3x.webp 3x">
                                            <source type="image/jpeg" srcset="
                    ./img/exposition/photo1-768@1x.jpg 1x,
                    ./img/exposition/photo1-768@2x.jpg 2x,
                    ./img/exposition/photo1-768@3x.jpg 3x">
                                            <img src="./img/exposition/photo1.jpg" alt="">
                                        </picture>
                                    </div>
                                </a>
                            </li>
                            <li class="swiper-slide">
                                <a href="./img/exposition/photo2.jpg">
                                    <div class="img">
                                        <picture>
                                            <source type="image/webp" srcset="
                    ./img/exposition/photo2-768@1x.webp 1x,
                    ./img/exposition/photo2-768@2x.webp 2x,
                    ./img/exposition/photo2-768@3x.webp 3x">
                                            <source type="image/jpeg" srcset="
                    ./img/exposition/photo2-768@1x.jpg 1x,
                    ./img/exposition/photo2-768@2x.jpg 2x,
                    ./img/exposition/photo2-768@3x.jpg 3x">
                                            <img src="./img/exposition/photo2.jpg" alt="">
                                        </picture>
                                    </div>
                                </a>
                            </li>
                            <li class="swiper-slide">
                                <a href="./img/exposition/photo3.jpg">
                                    <div class="img">
                                        <picture>
                                            <source type="image/webp" srcset="
                    ./img/exposition/photo3-768@1x.webp 1x,
                    ./img/exposition/photo3-768@2x.webp 2x,
                    ./img/exposition/photo3-768@3x.webp 3x">
                                            <source type="image/jpeg" srcset="
                    ./img/exposition/photo3-768@1x.jpg 1x,
                    ./img/exposition/photo3-768@2x.jpg 2x,
                    ./img/exposition/photo3-768@3x.jpg 3x">
                                            <img src="./img/exposition/photo3.jpg" alt="">
                                        </picture>
                                    </div>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="page__slider-buttons">
                    <button class="swiper-button-prev swiper-button-prev--mobile">
                        <svg class="icon" width="32px" height="16px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-long-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="swiper-button-next swiper-button-next--mobile">
                        <svg class="icon" width="32px" height="16px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-long-arrow-right"></use>
                        </svg>
                    </button>
                    <button class="swiper-button-prev swiper-button-prev--desktop">
                        <svg class="icon" width="102px" height="16px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-long-arrow-desktop-left"></use>
                        </svg>
                    </button>
                    <button class="swiper-button-next swiper-button-next--desktop">
                        <svg class="icon" width="102px" height="16px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-long-arrow-desktop-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="page__content-info">
                <div class="excursion__price">
                    <p class="excursion__price-title">
                        <a href="#">
                            Стоимость
                            <svg class="icon" width="20px" height="20px" fill="none">
                                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                            </svg>
                        </a>
                    </p>
                    <ul>
                        <li><span>150 ₽</span> / Взрослые</li>
                        <li><span>200 ₽</span> / С экскурсией</li>
                        <li><span>0, 100</span> ₽ / Льготные</li>
                        <li><span>150 ₽</span> / С экскурсией льготный</li>
                    </ul>
                </div>
                <div class="excursion__label-wrap">
                    <p class="excursion__label">Сборная группа</p>
                    <p class="excursion__label">Организованная группа</p>
                </div>
                <div class="excursion__visiting-rules">
                    <p class="excursion__visiting-rules-title">
                        <a href="#">
                            Правила посещения музея
                            <svg class="icon" width="20px" height="20px" fill="none">
                                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                            </svg>
                        </a>
                    </p>
                    <div class="excursion__visiting-notes">
                        <p><span>Эта, а также другие выставки музея доступны для</span>
                            <a href="#">
                                людей с ограниченными возможностями здоровья&nbsp; <svg class="icon" width="20px" height="20px" fill="none">
                                    <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                                </svg>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>