<section class="archmap">
    <div class="archmap__header">
        <h1 class="archmap__title">Археологическая карта</h1>
        <div class="archmap__breadcrumbs">
            <ul>
                <li>
                    <a href="#">Марий Эл</a>
                </li>
                <li>
                    Звениговский район
                </li>
            </ul>                
        </div>
    </div>
    <div class="archmap__navigation">
        <div class="archmap__prompt">
            <svg class="icon" width="24px" height="24px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-mouse"></use>
            </svg>
            Наведите мышь, чтобы узнать подробнее
        </div>
    </div>
    <div class="archmap__footer">
        <div class="archmap__designation">
            <ul>
                <li class="point-type point-type--selishche">
                    <svg class="icon" width="24px" height="24px" fill="none">
                        <use class="icon__symbol" xlink:href="#icon-selishche"></use>
                    </svg>
                    Селище
                </li>
                <li class="point-type point-type--stay">
                    <svg class="icon" width="24px" height="24px" fill="none">
                        <use class="icon__symbol" xlink:href="#icon-stay"></use>
                    </svg>
                    Стоянка
                </li>
                <li class="point-type point-type--cemetery">
                    <svg class="icon" width="24px" height="24px" fill="none">
                        <use class="icon__symbol" xlink:href="#icon-cemetery"></use>
                    </svg>
                    Кладбище
                </li>
            </ul>
        </div>
        <p>Интерактивная карта предоставляет информацию об археологических находках на территории нашей республики, включая селища, стоянки, древние погребения и другие исследованные объекты.</p>
    </div>
    
    <div class="archmap__area-label">
        <h2>Звениговский район</h2>
        <ul>
            <li class="point-type point-type--selishche">
                <svg class="icon" width="24px" height="24px" fill="none">
                    <use class="icon__symbol" xlink:href="#icon-selishche"></use>
                </svg>
                <span>1</span>
                <p>селища</p>
            </li>
            <li class="point-type point-type--stay">
                <svg class="icon" width="24px" height="24px" fill="none">
                    <use class="icon__symbol" xlink:href="#icon-stay"></use>
                </svg>
                <span>8</span>
                <p>стоянки</p>
                
            </li>
            <li class="point-type point-type--cemetery">
                <svg class="icon" width="24px" height="24px" fill="none">
                    <use class="icon__symbol" xlink:href="#icon-cemetery"></use>
                </svg>
                <span>3</span>
                <p>кладбища</p>
                
            </li>
        </ul>
    </div>
    <div class="archmap__place-popup place">
        <h3 class="place__title">Степанкинская стоянка</h3>
        <div class="img">
            <picture>
                <source type="image/webp" srcset="
                    ../archmap/image10-767@1x.webp 1x,
                    ../archmap/image10-767@2x.webp 2x,
                    ../archmap/image10-767@3x.webp 3x">
                <source type="image/jpeg" srcset="
                    ../archmap/image10-767@1x.jpg 1x,
                    ../archmap/image10-767@2x.jpg 2x,
                    ../archmap/image10-767@3x.jpg 3x">
                <img src="../archmap/image10.jpg" alt="">
            </picture>
        </div>
        <ul class="place__feature-list">
            <li class="place__feature-item">
                <h4>Административная принадлежность:</h4>
                <p>Республика Марий Эл, Звениговский район, с-з им. Ленина. В 1000 м к ВСВ от д. Степанкино</p>
            </li>
            <li class="place__feature-item">
                <h4>Экспедиции, Ф.И.О. исследователей, годы:</h4>
                <p>Марийская археологическая экспедиция, руководитель В. В. Никитин, 1975 г.</p>
            </li>                
            <li class="place__feature-item">
                <h4>Тип объекта:</h4>
                <p class="point-type point-type--stay">
                    <svg class="icon" width="24px" height="24px" fill="none">
                        <use class="icon__symbol" xlink:href="#icon-stay"></use>
                    </svg>
                    Стоянка
                </p>
            </li>
            <li class="place__feature-item">
                <h4>Хронологическая атрибуция:</h4>
                <p>середина II тыс. до н.э.
                </p>
            </li>
        </ul>
        <div class="place__description">
            <p>Объект археологического наследия «Степанкинская стоянка» был открыт в 1975 году разведочным отрядом МАЭ (руководитель В.В. Никитин).</p>
            <p>Терраса задернована и поросла молодым дубовым лесом. Западный склон террасы размыт и выдувается. В размытой части террасы встречены мелкие фрагменты лепной керамики с растительной примесью в тесте, прямым венчиком и зубчатым орнаментом. Кремень, собранный на стоянке, состоит из отщепов и сколов, скребков, проколки и, кроме того, найден овальной формы терочник из мелкозернистого песчаника. </p>
            <p>Сделан план памятника</p>
        </div>
        <a href="#" class="close-btn">
            <svg class="icon" width="18px" height="18px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-close"></use>
            </svg>
        </a>

    </div>
</section>
