<section class="banner page__section">
  <div class="page__wrap">
      <div class="banner__slider swiper">
            <ul class="banner__list swiper-wrapper">
                <li class="banner__item swiper-slide">
                    <div class="banner__item-wrap">
                        <picture>
                            <source type="image/webp" srcset="
                                ../banner/kladi-trubku1-920@1x.webp 1x,
                                ../banner/kladi-trubku1-920@2x.webp 2x,
                                ../banner/kladi-trubku1-920@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../banner/kladi-trubku1-920@1x.jpg 1x,
                                ../banner/kladi-trubku1-920@2x.jpg 2x,
                                ../banner/kladi-trubku1-920@3x.jpg 3x">
        
                            <img src="/../banner/kladi-trubku1-920@1x.jpg" alt="">
                        </picture>
                    </div>
                </li>
                <li class="banner__item swiper-slide">
                    <div class="banner__item-wrap">
                        <picture>
                            <source type="image/webp" srcset="
                                ../banner/kladi-trubku2-920@1x.webp 1x,
                                ../banner/kladi-trubku2-920@2x.webp 2x,
                                ../banner/kladi-trubku2-920@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../banner/kladi-trubku2-920@1x.jpg 1x,
                                ../banner/kladi-trubku2-920@2x.jpg 2x,
                                ../banner/kladi-trubku2-920@3x.jpg 3x">
                            <img src="/../banner/kladi-trubku2-920@1x.jpg" alt="">
                        </picture>
        
                    </div>
                </li>
                <li class="banner__item swiper-slide">
                  <div class="banner__item-wrap">
                      <picture>
                          <source type="image/webp" srcset="
                              ../banner/kladi-trubku3-920@1x.webp 1x,
                              ../banner/kladi-trubku3-920@2x.webp 2x,
                              ../banner/kladi-trubku3-920@3x.webp 3x">
                          <source type="image/jpeg" srcset="
                              ../banner/kladi-trubku3-920@1x.jpg 1x,
                              ../banner/kladi-trubku3-920@2x.jpg 2x,
                              ../banner/kladi-trubku3-920@3x.jpg 3x">
                          <img src="/../banner/kladi-trubku3-920@1x.jpg" alt="">
                      </picture>
      
                  </div>
              </li>
            </ul>
            <div class="swiper-pagination"></div>
      </div>    
        

    <div class="banner__line banner__line--black"></div>
    <div class="banner__line banner__line--blue"></div>
    <div class="banner__line banner__line--red"></div>
    <div class="banner__line banner__line--yellow"></div>
  </div>
</section>
