.banner {
  position: relative;
  overflow: hidden;

  &__slider {
    width: 100%;
  }

  &__list {
    @include list;
  }

  &__item-wrap {
    position: relative;
    aspect-ratio: 1 / 1;  

  }

  &__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: unset;
    object-fit: cover;
    object-position: center;
  }

  & .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid $light;
    background: transparent;
    opacity: 1;

  }

  & .swiper-pagination-bullet-active {
    background-color: $light;
  }

  &__line {
    position: absolute;
    height: 7px;
    border-radius: 3.5px;
    top: 50%;
    left: 50%;
    z-index: -1;

    &--black {
      background-color: $dark;
      width: 99%;
      max-width: 1320px;
      transform: translateX(-53%) translateY(0px);
    }

    &--blue {
      background-color: $secondary;
      width: 99%;
      max-width: 1287px;
      transform: translateX(-53%) translateY(33px);
    }

    &--red {
      background-color: $main;
      width: 99%;
      max-width: 1287px;
      transform: translateX(-53%) translateY(66px);
    }

    &--yellow {
      background-color: $status;
      width: 89%;
      max-width: 1287px;
      transform: translateX(-38%) translateY(100px);
    }
  }
}
