.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
    gap: 20px;

    @media (min-width: @lg-width) {
      gap: 23px;
    }
  }
}

.main-header .logo {
  position: relative;
  z-index: 5;

  &::before {
    content: "";
    position: absolute;
    top: -26px;
    left: 50%;
    width: 66.47px;
    height: 66.47px;
    background: @status;
    filter: blur(30px);
    transform-origin: center;
    transform: rotate(-45deg) translateY(-46px);
    z-index: -1;


    @media (min-width: @lg-width) {
      width: 116px;
      height: 116px;
      top: -25px;
      left: 50%;
      transform: rotate(-45deg) translateY(-80px);
    }
  }

  &__link {
    &:hover,
    &:focus {
      & use.icon__symbol {
        fill: @main-dark;
      }
    }
  }

  & .icon {
    width: 39px;
    height: 35px;

    @media (min-width: @lg-width) {
      width: 78px;
      height: 70px;
    }
  }

  & use.icon__symbol {
    fill: @dark;
  }

  &__text {
    display: none;

    @media (min-width: @lg-width) {
      display: block;
      .text-logo();
      width: 180px;
    }
  }
}

.main-header--mobile {
  & .logo {
    margin-left: 40px;
  }
}

.main-header--fixed .logo {
  @media (min-width: @lg-width) {
    margin-left: 0;
  }

  &__text {
    display: none;
  }
}

.main-header--desktop.main-header--fixed {
  &  .logo {
    @media (min-width: @lg-width) {
      order: 3;
      padding-right: 30px;
      margin: 0 auto;

      &::before {
        transform: rotate(-45deg) translateY(-110px);
      }
    }
  }
}

.main-footer .logo {
  width: 100%;

  @media (min-width: @md-width) {
    grid-area: logo;
  }

  & use.icon__symbol {
    fill: @light;
  }

  & .icon {
    width: 71px;
    height: 66px;
  }

  &__text {
    width: 165px;
    .text-medium();
  }
}
