<section class="slider swiper">
    <ul class="slider__list swiper-wrapper">
        <li class="slider__item swiper-slide">
            <div class="slider__item-wrap">
                <picture>
                    <source type="image/webp" srcset="
                        ../slider/slide1-768@1x.webp 1x,
                        ../slider/slide1-768@2x.webp 2x,
                        ../slider/slide1-768@3x.webp 3x">
                    <source type="image/jpeg" srcset="
                        ../slider/slide1-768@1x.jpg 1x,
                        ../slider/slide1-768@2x.jpg 2x,
                        ../slider/slide1-768@3x.jpg 3x">

                    <img src="/../slider/slide1.jpg" alt="">
                </picture>
            </div>
        </li>
        <li class="slider__item swiper-slide">
            <div class="slider__item-wrap">
                <picture>
                    <source type="image/webp" media="(min-width: 1024px)" srcset="
                        ../slider/slide2-1280.webp,
                        ../slider/slide2-1280@2x.webp 2x,
                        ../slider/slide2-1280@3x.webp 3x">
                    <source type="image/webp" srcset="
                        ../slider/slide2-1024@1x.webp 1x,
                        ../slider/slide2-1024@2x.webp 2x,
                        ../slider/slide2-1024@3x.webp 3x">
                    <source type="image/jpeg" media="(min-width: 1024px)" srcset="
                        ../slider/slide2-1280.jpg 1x,
                        ../slider/slide2-1280@2x.jpg 2x,
                        ../slider/slide2-1280@3x.jpg 3x">
                    <source type="image/jpeg" srcset="
                        ../slider/slide2-1024@1x.jpg 1x,
                        ../slider/slide2-1024@2x.jpg 2x,
                        ../slider/slide2-1024@3x.jpg 3x">
                    <img src="/../slider/slide2-1280@1x.jpg" alt="">
                </picture>

            </div>
        </li>
    </ul>
<div class="swiper-pagination"></div>
</section>