.slider {
    width: 100%;
  
    &__list {
      @include list;
    }
  
    &__item-wrap {
      position: relative;
      aspect-ratio: 3 / 2;  

    }
  
    &__item img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: unset;
      object-fit: cover;
      object-position: center;
    }
  

  
    & .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border: 1px solid $light;
      background: transparent;
      opacity: 1;
  
  
    }
  
    & .swiper-pagination-bullet-active {
      background-color: $light;
    }
  
    & .swiper-pagination-vertical {
      position: absolute;
      top: 50%;
      right: 15px;
      z-index: 10;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
  
      & .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
      }
    }
  }
  