<section class="partners partners--page">
    <div class="partners__head">
        <div class="page__wrap">
            <h1 class="page__subtitle">Партнеры</h1>
        </div>
    </div>
    <div class="partners__info">
        <div class="page__wrap">
            <ul class="partners__list">
                <li class="partners__item partner">
                    <a class="partner__link" href="#" target="_blank" rel="noopener noreferrer nofollow">
                        <h2 class="visually-hidden">Музей России</h2>
                        <div class="img">
                            <picture>
                                <source type="image/webp" srcset="
                                ../partners/logo-200@1x.webp 1x,
                                ../partners/logo-200@2x.webp 2x,
                                ../partners/logo-200@3x.webp 3x">
                                <source type="image/jpg" srcset="
                                ../partners/logo-200@1x.jpg 1x,
                                ../partners/logo-200@2x.jpg 2x,
                                ../partners/logo-200@3x.jpg 3x">
                                <img src="../partners/logo.jpg" alt="Музей России">
                            </picture>
                        </div>
                    </a>                    
                </li>

                <li class="partners__item partners__item--become-partner partner">
                    <a class="partner__link modal-link" href="#modal2" target="_blank" rel="noopener noreferrer nofollow">
                        <span>
                            Стать партнером музея
                            <svg class="icon" width="20px" height="20px" fill="none">
                                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                            </svg>
                        </span>                        
                    </a>                    
                </li>
            </ul>
        </div>
    </div>
</section>